html {
  height: 100%;
}

body {
  min-height: 100%;
  background: hsl(228, 33%, 97%);
}

.comments-div {
  padding: 30px;
}

.comment-box {
  background: white;
  min-height: 170px;
  width: 55%;
  margin: auto;
  border-radius: 15px;
}

.reply {
  margin-left: 550px;
  width: 47.7%;
}

img {
  width: 32px;
  height: 32px;
}

.current-user-img {
  width: 40px;
  height: 40px;
}

.current-user-tag {
  width: 40px;
  height: 25px;
  background:hsl(238, 40%, 52%);
  border-radius: 4px;
}

h6 {
  color: white !important;
  font-size: 14px;
  padding-left: 7px;
  margin-top: 4px;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

h4, h5, p {
  font-size: 16px;
}

h4 {
  font-weight: 700;
  color: hsl(211, 10%, 45%);
}

h5 {
  font-weight: 400;
  color: hsl(211, 10%, 45%);
}

p {
  color: hsl(211, 10%, 45%);
}

.reply-to {
  color:hsl(238, 40%, 52%);
  font-weight: 700;
}

.btn {
  background: none;
  border: none;
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

.btn-update {
  background: hsl(238, 40%, 52%);
  color: white;
  font-weight: 500;
  float: right;
}

.btn-plus, .btn-minus {
  background: hsl(228, 33%, 97%);
  border: none;
  color:hsl(238, 40%, 52%);
  position: relative;
  width: 35px;
  height: 35px;
  left: 15px;
  font-size: 18px;
}

.btn-plus {
  top: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.btn-minus {
  top: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.score {
  width: 35px;
  height: 35px;
  color:hsl(238, 40%, 52%);
  background: hsl(228, 33%, 97%);
  position: relative;
  top: 30px;
  left: 15px;
  padding-top: 4px;
  text-align: center;
}

.delete {
  color: hsl(358, 79%, 66%);
}

.vertical-bar {
  position: absolute;
  left: 500px;
  top: 420px;
  border-left: 2px solid hsl(223, 19%, 93%);
  height: 350px;
}

textarea {
  width: 90%;
  min-height: 110px;
  outline: none;
  border-color: hsl(223, 19%, 93%);
  border-radius: 10px; 
}

.btn-send {
  border: none;
  border-radius: 5px;
  background: hsl(238, 40%, 52%);
  color: white;
  padding: 5px;
  width: 70px;
}

textarea:focus {
  border-color: hsl(238, 40%, 52%);
}
